<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <h1>Emmi's Magic Password Generator</h1>
        <form method="POST" action="/CustomPassGen">
            <label for="length">Length:</label>
            <input type="number" id="length" name="length" min="8" max="100" value="{{ default_length|default('14') }}" required>
            <br>
            <input type="checkbox" id="uppercase" name="uppercase" value="1" {{ "checked" if lastUseUppercase == 1 }}>
            <label for="uppercase">Include uppercase letters</label>
            <br>
            <input type="checkbox" id="lowercase" name="lowercase" value="1" {{ "checked" if lastUseLowercase == 1 }}>
            <label for="lowercase">Include lowercase letters</label>
            <br>
            <input type="checkbox" id="numbers" name="numbers" value="1" {{ "checked" if lastUseNumbers == 1 }}>
            <label for="numbers">Include numbers</label>
            <br>
            <input type="checkbox" id="special" name="special" value="1" {{ "checked" if lastUseSpecial == 1 }}>
            <label for="special">Include special characters</label>
            <br>
            <input type="checkbox" id="exclude" name="exclude" value="1" {{ "checked" if lastUseExclude == 1 }}>
            <label for="exclude">Exclude ambiguous characters</label>
            <br>
            <input type="submit" value="Generate Password">
        </form>
        {% if password %}
        <center><div class="generated-password">{{ password }}</div></center>
        {% endif %}
    </body>
</html>