<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/index.css">
        <!-- <link rel="stylesheet" href="/static/css/main.css"> -->
    </head>
    <body>
        <h1><center>Super Secret Generator</center></h1>
        <section>
            <form method="POST" action="/">
                <label for='whatToGen'><h2>Password type to generate:</label>
                    <select name="whatToGen" id="whatToGen">
                        {% for option in _dropdown1List %}
                          <option value="{{ option }}" {% if whatToGen == option %} SELECTED {% endif %}>{{ option }}</option>
                          <!--<option value="{{ option }}">{{ option }}</option>-->
                        {% endfor %}     
                    </select></h2>
                <div class="refresh"><a href="javascript:location.reload(true)">Reload Defaults</a></div>
                <div class="refresh"><input type="submit" value="Generate Passwords"></div>
            </form>
            <div id="pass_block" class="key_section">
                {% if string01|length <= 170 %} <!-- hide description if secure string over 170 characters -->
                <h2>{{ whatToGen }} Passwords: <span class="description"> {{ _description }}</span></h2>
                {% endif %}
                {% if string01|length < 18 %} <div class="shortPass"> {% endif %}
                {% if string01|length >= 18 %} <div class="longPass"> {% endif %}
                    <input type="text" id="txt_pw_0" name="txt_pw_0" value="{{ string01 }}" readonly onClick="this.setSelectionRange(0, this.value.length)"/>
                    <input type="text" id="txt_pw_1" name="txt_pw_1" value="{{ string02 }}" readonly onClick="this.setSelectionRange(0, this.value.length)">
                    <input type="text" id="txt_pw_2" name="txt_pw_2" value="{{ string03 }}" readonly onClick="this.setSelectionRange(0, this.value.length)">
                    <input type="text" id="txt_pw_3" name="txt_pw_3" value="{{ string04 }}" readonly onClick="this.setSelectionRange(0, this.value.length)">
                    <input type="text" id="txt_pw_4" name="txt_pw_4" value="{{ string05 }}" readonly onClick="this.setSelectionRange(0, this.value.length)">
                    <input type="text" id="txt_pw_5" name="txt_pw_5" value="{{ string06 }}" readonly onClick="this.setSelectionRange(0, this.value.length)">
                </div>
            </div>
        </section>
    </body>
</html>